.App{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
   
}
.container-NavBar{
    display: flex;
    width: 1024px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .container-NavBar-icons{
        display: flex;
        width: 150px;
        justify-content: space-between;

        .gitLab{
            width: 21px;
            height: 21px;
            padding-top: 2px;
        }

    }
    .container-NavBar-Links{
        display: flex;
        width: 350px;
        justify-content: space-between;
         
    }
}
.container-Hero-Section{
    display: flex;
    width: 1024px;
    padding-top: 50px;

    .btn-HeroSection{
        padding: 20px 30px;
        background-color: black;
        color: white;
        font-size: 18px;
        border-color: rgba(0, 0, 0, 0.626) ;
        border-radius: 11px;
    }
    
    #heroSectionImage{
        width: 600px; ;

    }
   
}

.horizontalRuleContainer{
    width: 1024px;
    padding: 20px 0px 20px 0px;

    .horizontalRule{
        width: 800px;
    }    
}

.MainDetailListContainerA{
    display: flex;
    flex-direction: column;
    width: 1024px;
    align-items: center;

    .MainDetailListContainer{
        width: 600px;
    
        .MainDetailListContainerElements{
            width: 450px;
            margin-right: auto;
            margin-left: auto;  
        }
    }
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 50px 0px;

    .footerContainerItem2 div{
        display: flex;
        width: 150px;
        justify-content: space-between;
        padding: 15px 0px 15px 0px;
    }

    .gitLab{
        width: 21px;
        height: 21px;
        padding-top: 2px;
    }
   
}


