.App{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
   
}
.container-NavBar{
    display: flex;
    width: 1024px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .container-NavBar-icons{
        display: flex;
        width: 150px;
        justify-content: space-between;

        .gitLab{
            width: 21px;
            height: 21px;
            padding-top: 2px;
        }

    }
    .container-NavBar-icons:hover{
        transition: 0.7s;
        cursor: pointer;

    }
    .container-NavBar-Links{
        display: flex;
        width: 350px;
        justify-content: space-between;   
    }
    .container-NavBar-Links:hover{
        transition: 0.7s;
        cursor: pointer;
    }
}
.container-Hero-Section{
    display: flex;
    width: 1024px;
    padding-top: 50px;

    .centerHeadingElement{
        display: flex;
        justify-content: center;
    }

    .buttonContainer{

        display: flex;
        justify-content: space-evenly;

        .btn-HeroSection{
            padding: 20px 30px;
            background-color: black;
            color: white;
            font-size: 15px;
            border-radius: 11px;
            border-width: 0px;
            text-decoration: none;
        }
        .btn-HeroSection:hover{
            background-color:rgb(58, 152, 183);
            transition: 0.7s;
            cursor: pointer;
        }
        .btn-HeroSection:active{
            background-color:rgb(114, 213, 246);
          
        }
        

    }

  
    #heroSectionImage{
        width: 600px; ;

    }
   
}

.horizontalRuleContainer{
    width: 1024px;
    padding: 20px 0px 20px 0px;

    .horizontalRule{
        width: 800px;
    }    
}

.MainDetailListContainerA{
    display: flex;
    flex-direction: column;
    width: 1024px;
    align-items: center;

    .MainDetailListContainer{
        width: 600px;
    
        .MainDetailListContainerElements{
            width: 450px;
            margin-right: auto;
            margin-left: auto;  
        }
    }
}
.skillsIconComponentIconContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;
}

    #modalFormId{
        display: flex;
        flex-direction: column;
        width: 320px;
        padding: 80px;
        input {
       
            margin: 10px 0px 10px 0px;
            padding: 15px;
            border: 1px solid rgba(0, 0, 0, 0.133);
        }
        input:focus, textarea:focus{
            outline: none;
        }
        textarea{
            margin: 10px 0px 10px 0px;
            padding: 15px;
            border: 1px solid rgba(0, 0, 0, 0.133);
            height: 100px;
        }
    }
    .modalButtonContainer{
        display: flex;
        justify-content: space-evenly;

         .modalBtn-HeroSection{
            padding: 8px 20px 8px 20px;
            background-color: black;
            color: white;
            font-size: 15px;
            border-radius: 5px;
            border-width: 0px;
            text-decoration: none;
    }
    .modalBtn-HeroSection:hover{
        background-color:rgb(58, 152, 183);
        transition: 0.7s;
        cursor: pointer;
    }
    .modalBtn-HeroSection:active{
        background-color:rgb(114, 213, 246);
      
    }
    }
   

.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 5px 0px;

    .footerContainerItem2 div{
        display: flex;
        width: 150px;
        justify-content: space-between;
        padding: 15px 0px 15px 0px;
    }

    .gitLab{
        width: 21px;
        height: 21px;
        padding-top: 2px;
    }
    .footerContainerItem2 div:hover{
        transition: 0.7s;
        cursor: pointer;
    }
   
}
// responsive website desingn styles


@media ( max-width: 713px  ){

    html, body {
        overflow-x: hidden;
        
    }
   
   }
//    mobile phones
   @media ( max-width: 431px  ){
    html, body {
        overflow-x: hidden;
        // color: red;
        display: flex;
        justify-content: center;
    }
    .App{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
        width: 420px;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
    }
    .container-NavBar{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .container-Hero-Section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 380px;

        div p{ 
            text-align: center; 
        }

        #heroSectionImage{
            display: none;
            // width: 400px;

        }
        .centerHeadingElement{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .horizontalRuleContainer{
        width: 430px;
        padding: 20px 0px 20px 0px;
    
        .horizontalRule{
            width: 430px;
        }    
    }
    
    .MainDetailListContainerA{
        display: flex;
        flex-direction: column;
        width:430px;
        justify-content: center;
    
        .MainDetailListContainer{
            width: 430px;
            padding: 2em;
        
            .MainDetailListContainerElements{
                width: 380px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .footerContainer{
        display: flex;
        flex-direction: column;
        width: 430px;
    }


   }



